.navigation {
	width: 100%;
	display: flex;
}

.navigation__items {
	width: 100%;
	display: flex;
	margin: 0;
	padding: 0;
}

.navigation__item {
	display: flex;
	margin: 0 17px 0 0;
	list-style: none;
}

.navigation__item_hidden {
	display: none;
}

.navigation__item_margin-left {
	margin-left: auto;
}

.navigation-button {
	box-sizing: border-box;
	display: flex;
	padding: 0 0 4px 0;
	border: none;
	font-size: 13px;
	text-align: center;
	text-decoration: none;
	align-items: center;
	cursor: pointer;
	outline: none;
	color: #000;
	background-color: transparent;
}

.navigation-button_active {
	font-weight: 500;
}

.navigation-button_active-mobile {
	font-weight: 500;
	border-bottom: 2px solid #000;
}

.navigation-button_not-active {
	border: none;
}

.navigation__item:last-child {
	margin-right: 0;
}

.navigation-button-image {
	display: inline-block;
	margin-left: 17px;
	padding: 8px;
	background-color: #F9F9F9;
	border-radius: 3px;
}

.navigation-button_color-white {
	color: #fff;
}

.navigation-button-sign-in {
	padding: 8px 20px 8px 20px;
	margin-left: 13px;
	background-color: #2BE080;
	border-radius: 3px;
	font-weight: 500;
}

.navigation__item:hover {
	opacity: .7;
	transition: opacity .16s linear;
}

@media screen and (max-width: 768px) {
	.navigation {
		display: none;
	}

	.navigation_visible {
		display: flex;
	}

	.navigation-mobile {
		display: flex;
	}

	.navigation-mobile__overlay_true {
		position: absolute;
		top: 0;
		right: 0;
		background-color:rgba(0,0,0,.3);
		width: 100%;
		height: 100%;
		z-index: 10;
	}

	.navigation__item_visible {
		display: block;
	}

	.navigation__item_margin-left {
		margin-left: 0;
	}
}

@media screen and (max-width: 320px) {
	.navigation-button-sign-in {
		padding: 5px 12px;
		margin-left: 0;
		border-radius: 3px;
		font-weight: 500;
	}

	.navigation-button {
		font-size: 10px;
	}
}