.header {
	max-width: 1140px;
	min-height: 74px;
	margin: 0 auto;
	display: flex;
	background-color: transparent;
	align-items: center;
}

@media screen and (max-width: 768px) {
	.header {
		max-width: 708px;
	}
}

@media screen and (max-width: 320px) {
	.header {
		max-width: 284px;
	}
}