.nav-tab__link {
	display: inline-block;
	box-sizing: border-box;
	margin: 84px 0 0 0;
	padding: 10px 20px;
	font-size: 12px;
	font-weight: 500;
	line-height: 16px;
	color: #fff;
	border: 1px solid rgba(255, 255, 255, .6);
	border-radius: 3px;
	cursor: pointer;
	text-decoration: none;
}

.nav-tab__link:hover {
	opacity: .7;
	transition: opacity .16s linear;
}

@media screen and (max-width: 768px) {
	.nav-tab__link {
		margin: 92px auto 0 auto;
	}
}

@media screen and (max-width: 320px) {
	.nav-tab__link {
		margin: 80px auto 0 auto;
	}
}